# Environment variables
.env

# Python-related ignores
**/__pycache__/
*.pyc
*.pyo

# Virtual environments
/venv/
/.venv/
/env/
url_venv/
Server/url_venv/
Server/url_app/__pycache__/

# Logs and databases
*.log
db.sqlite3

# Static and media files
/staticfiles/
/media/

# IDE and system files
.cache/
.vscode/
